p {
  font-family: "Segoe Ui";
  width: 60vw;
  word-wrap: break-word;
  /* by setting width and using word-wrap, we can 
  make the text wrap */
}

/* below is for styling of scanner
mainly is just to confine the stupid thing in a fixed width
there is reader-container styling in App.css to center 
the reader div wrapping this
*/
.reader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.DropdownButton {
  color: red;
}