html {
  font-size: 18px;
}

/* text-align center is responsible for most of the text aligning right now,
need to change to individual component centering */
.App {
  text-align: center;
}

/* "reader-container" is used to center "reader" 
otherwise by default the scanner will be at the left side
*/
.reader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(37, 77, 97);
  color: white;
}


/* text-decoration: none does not work when put here
 Not exactly sure why but maybe is because <Link> is wrapping the <li>?
 so need to use inline styles instead

 below values are used to position the <Link> which wraps the <li>s
 the actual styling for the <li> only can be found in Nav.js via inline styles
 */
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

